* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    font-family: var(--font-main);
}

/* 102542
F87060
CDD7D6
B3A394
FFFFFF */

:root {
    --primary-color: #B3A394;
    --accent-color: #F87060;
    --offwhite-color: #f3efe3;
    --white-color: #FFFFFF;
    --text-color: hsl(0, 0%, 10%);;
    --font-main: 'Cormorant Upright', serif;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}

body {
    width: 100vw;
    height: 100vh;
}

fa-2x {
    margin-right: 15px;
 }

/* !Text Base Styles */

.textcolor_white {
    color: var(--white-color);
}

.textcolor_accent {
    color: var(--accent-color);
}

.textcolor_primary {
    color: var(--primary-color);
}

.textcolor_secondary {
    color: var(--offwhite-color);
}


.transparent {
    background-color: transparent;
}

/* Headers */
h1 {
    font-size: x-large;
    color: var(--text-color);
}

h2 {
    font-size: large;
    color: var(--text-color);
}
h3 {
    font-size: large;
    color: var(--text-color);
}

.bold {
    font-weight: 700;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.inner-shadow {
    box-shadow: inset var(--primary-color) 0px 2px 9px -1px, var(--primary-color) 0px 1px 3px -1px;
}

.vcenter {
    align-items: center;
}

.hcenter {
    justify-content: center;
}

.outlined {
    border: 3px solid var(--primary-color);
}

.outlined-no-top {
    border: 3px solid var(--primary-color);
    border-top: 0px solid var(--primary-color);
}

.float-right {
    margin-left: auto;
    margin-right: 0;
}

.menu {
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    background-color: var(--offwhite-color);
    align-items: center;

    /*idk*/
    box-sizing: border-box;
}

.flex-box-group {
    display: flex;
    justify-content: start;
}

.flex-box-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.logo {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--text-color);
    display: block;
    max-width:48px;
    max-height:48px;
    width: auto;
    height: auto;

    /* bug fix */
    z-index: 0;
    transform: translateY(0);
}

.search-bar {
    padding: 0.5rem;
    border: 2px solid currentColor;
    background: none;
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    outline: none;
    width: 200px;
    background-color: var(--white-color);
}

form {
    display: flex;
}

.search-submit {
    background: hsl(0, 0%, 10%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: inherit;
    padding: 0.5rem 1rem;
    border-radius: 0 5px 5px 0px;
}

.search-submit .button-icon {
    width: auto;
    height: auto;
}


.hover-expand {
    transition: 0.2s;
    transition-timing-function: ease-in;
    transform: scale(100%);
    overflow: visible;
    cursor: pointer;
}

.hover-fill {
    transition: 0.2s;
    transition-timing-function: ease-in;
    transform: scale(100%);
    overflow: visible;
    color: var(--text-color);
    cursor: pointer;
}

.hover-fill:hover {
    transition: 0.2s;
    transition-timing-function: ease-out;
    background-color: var(--accent-color);
}

.hover-expand:hover {
    transition: 0.2s;
    transition-timing-function: ease-out;
    transform: scale(110%);
}

.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: var(--text-color);
    align-items: center;

    /*idk*/
    box-sizing: border-box;
}

.nav-item {
    line-height: 30px;
    font-size: 20px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 5px;
    margin: 0;
    min-width: 140px;
    height: auto;
    cursor: pointer;
    color: var(--offwhite-color);
    background-color: var(--text-color);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item:hover {
    transition: 0.2s;
    transition-timing-function: ease-out;
    background-color: #000000;
    background-color: var(--accent-color);
}

.nav-item::after{
    content: '';
    position: absolute;
    left: 42%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--accent-color);
}

.selected {
    color: var(--accent-color);
    text-decoration: underline;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--offwhite-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    height: fit-content;
    align-items: center;

    /*idk*/
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    color: var(--text-color);
}

.right-zoom-transition:before {
    content: "";
    position: absolute;
    overflow: hidden;
    height: 4000px;
    width: 4000px;
    transform: translate(50%, -50%);
    background-color: var(--accent-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: unset;
    animation-name: right-zoom;
    animation-iteration-count: 1;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    z-index: 100;
}

@keyframes right-zoom {
    0% {transform: translate(50%, 25%)}
    49% {transform: translate(-50%, -50%)}
    51% {transform: translate(-50%, -50%)}
    100% {transform: translate(50%, 25%)}
}